sudo: false
cache: bundler
language: ruby
rvm:
- 2.1.4
env:
  matrix:
  - CHEF_VERSION="11.12"
  - CHEF_VERSION="11.14"
  - CHEF_VERSION="11.16"
  - CHEF_VERSION="11"
  - CHEF_VERSION="12"
  global:
  - USE_SYSTEM_GECODE=true
  - KITCHEN_LOCAL_YAML=.kitchen.travis.yml
  - secure: noSxPxfTehp+aYnYNddlE5TavYNiGN28BlXZuGBI89X+LsDCGGFB0ASk8kwmYU1tWVuu2XqmsPZO2OSRxAmhhewFw66cTJ/AymILtiJI+I+/T2C17rVv5QogP+btzbYKDNiHIYff1UIpLZ0pHxy0lvy5N1Cqj2i+UX/K/oI2wG8=
  - secure: opA5VgVxPPj3rOMr3RhjdKXTnJPx6JYEh0v+bhV2Hz9tCNpV3+keD/maG99wt3ES7tr6vTO8P7aIlOdmji0P+SQrS7bz62sv6Mgujb1QseuSnY8y4f9xwrA6zE/0V9uFy3sB4n5UNwya5VrWGtAGRbYJoN1UNSNNCbgCuo4QDZo=
before_install:
- curl -o ~/gecode.tar.gz https://poise-gecode.s3.amazonaws.com/gecode-3.7.3-ubuntu12.04-x86_64.tar.gz
- tar xzf ~/gecode.tar.gz -C ~
- rm ~/gecode.tar.gz
- bundle config build.dep_selector "--with-cflags=\"-I$HOME/gecode-3.7.3/include\"
  --with-cppflags=\"-I$HOME/gecode-3.7.3/include\" --with-ldflags=\"-L$HOME/gecode-3.7.3/lib
  -Wl,-rpath=$HOME/gecode-3.7.3/lib\""
bundler_args: "--binstubs --jobs 3 --retry 3"
script:
- openssl rsa -in test/docker/docker.pem -passin env:KITCHEN_DOCKER_PASS -out test/docker/docker.key
- wget https://get.docker.io/builds/Linux/x86_64/docker-latest -O docker
- chmod +x docker
- "./bin/rake spec"
